<%= $player_1.name %> vs. <%= $player_2.name %>
<br> <%= $player_1.name %>'s HP: <%= $player_1.health %>
<form action="/play/attack" method="post">
<input type=submit id=attack!>
</form>
<br> <%= $player_2.name %>'s HP: <%= $player_2.health %>
