<%= $game.player_1.name %> vs. <%= $game.player_2.name %>
<br> <%= $game.player_1.name %>'s HP: <%= $game.player_1.health %>
<br> <%= $game.player_2.name %>'s HP: <%= $game.player_2.health %>
<br> <%= $game.turn_name %>'s turn
<br>
<form action="/play/attack" method="post">
<input type=submit value="Attack!"id=attack!>
</form>
