<%= @player_1 %> vs. <%= @player_2 %>
<br> <%= @player_1 %>'s HP: <%= @player_1_hp %>
<form action="/play/attack" method="post">
<input type=submit id=attack!>
</form>
<br> <%= @player_2 %>'s HP: <%= @player_2_hp %>
